<!doctype html>
<html ng-app="app">
  <head>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
  </head>
  <body>

    <div ng-controller="MainCtrl">
     <div class="row">
		<div class="col-md-12">

			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-5 " for="appID">APPID:</label> <input
						type="text" class="col-md-7" name="appID"
						ng-model="appId"
						id="appID" />
				</div>

			</div>



		</div>
		<div class="col-md-12">

			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-5 " for="firstName">PASSWORD:</label> <input
						type="text" class="col-md-7" name="firstName"
						ng-model="password"
						id="password"  />
				</div>

			</div>



		</div>
		<div class="col-md-12">
			<div class="col-md-4">
				<div class="form-group">
					<button class="col-md-4" id="submit"
						ng-click="submit(appId,password)">Submit</button>
				</div>

			</div>
		</div>
		
		{{result}}
	</div>
    </div>
    
 

    <script src="app.js"></script>
  </body>
</html>
